<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.truman.BackgroundSystem.mapper.ApplicationCheckoutMapper">

    <select id="getAllNotFinishedCheckOutByApplicantId" resultType="com.truman.BackgroundSystem.entity.ApplicationCheckout">
        select *
        from application_checkout
        where applicant_id = #{id}
          and finish_time is null
    </select>
    <select id="getCheckoutById" resultType="com.truman.BackgroundSystem.entity.ApplicationCheckout">
        select *
        from application_checkout
        where application_id = #{id}
    </select>
</mapper>
