<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.truman.BackgroundSystem.mapper.ApplicationLateReturnMapper">
    <update id="setTaskFinish">
        update application_late_return set finish_time = CURRENT_TIMESTAMP where application_id = #{applicationId}
    </update>

    <select id="getAllNotFinishedLateReturnByApprovalId"
            resultType="com.truman.BackgroundSystem.entity.ApplicationLateReturn">
        select *
        from application_late_return
        where approval_id = #{id}
          and finish_time is null
    </select>
    <select id="getAllNotFinishedLateReturnByApplicantId"
            resultType="com.truman.BackgroundSystem.entity.ApplicationLateReturn">
        select *
        from application_late_return
        where applicant_id = #{id}
          and finish_time is null
    </select>
    <select id="selDetailById" resultType="com.truman.BackgroundSystem.entity.ApplicationLateReturn">
        select *
        from application_late_return
        where application_id = #{id}
    </select>
</mapper>
